img{
    width: 1.5rem;
    margin: 0;
    padding: 0.25rem;
}

@media (min-width: 320px) and (max-width: 1024px){
    .listLanguage{
        max-height: 1rem;
    }
    img{
        width: 1.5rem;
    }
}